*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    background-color: #FF5200;
}
.logo h1{
    font-size: 30px;
    color: white;
}
.navlinks{
    display: flex;
    gap: 40px;
    align-items: center;
}
.navlinks ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 22px;
}
.navlinks ul li a{
    text-decoration: none;
    color: white;
}
#app{
    background-color: #FF5200;
    padding: 15px 40px;
    border-radius: 10px;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    cursor: pointer;
}
#signin{
    background-color: black;
    padding: 15px 40px;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}